@using Microsoft.AspNetCore.Identity
<style>
    .i1 {
        color: #000;
    }
</style>
<ul class="navbar-nav">
    @if (!string.IsNullOrEmpty(User.Identity.Name))
    {
        @* <li class="nav-item dropdown"> *@
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @User.Identity!.Name! 
            </a>
            <a class="dropdown-item" asp-action="Logout" asp-controller="UserAuthentication">
                <i1 class='bx bx-log-out' style="color: #000;"></i1>
            </a>
            @* <ul class="dropdown-menu" >
                <li>
                </li>
            </ul> *@
        @* </li> *@
        
        
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>